# Advent of code 2024

In [73]:
import numpy as np
import matplotlib.pyplot as plt
import backend

backend.run_results = list()

# Day 1 : <a href="https://adventofcode.com/2024/day/1">Historian Hysteria</a>

## Part 1

For our first problem we will need to sort two lists, and take the sum of each pair of numbers in the sorted lists. Again, I will use my file parser to convert the input to some tuples, and convert them into a NumPy array.

In [74]:
test_input = np.array(backend.parseInput("""3   4
4   3
2   5
1   3
3   9
3   3""", backend.parseInts))

def day_1_part_1(input : np.array):
    sorted_input = np.sort(input, axis = 0)
    return(np.abs(sorted_input[:,1] - sorted_input[:, 0]).sum())

backend.test(day_1_part_1, test_input, 11)

__________ Input to be parsed __________
3   4
4   3
2   5
1   3
3   9
... and maybe more
____________________
__________ Parsed input __________
(3, 4)
(4, 3)
(2, 5)
(1, 3)
(3, 9)
... and maybe more
____________________
Answer: 11            0.000060 seconds
Test succeeded.

In [75]:
real_input = np.array(backend.parseInput(open("inputs/day1.txt").read(), backend.parseInts))

backend.run(day_1_part_1, real_input, 1, 1)

__________ Input to be parsed __________
76309   75213
79731   28444
29583   71339
60992   99148
34680   74530
... and maybe more
____________________
__________ Parsed input __________
(76309, 75213)
(79731, 28444)
(29583, 71339)
(60992, 99148)
(34680, 74530)
... and maybe more
____________________
Answer for day 1 part 1: 1110981            0.000189 seconds

1110981

That was easy! Now on to part 2.

## Part 2

It turns out that our first list contains ID's and we need to count each ID in the second list. We multiply the ID by the number of occurences in the second list, to obtain the <b>Similarity score</b>.

In [76]:
def day_1_part_2(input : np.array):
    first_list, second_list = input[:, 0], input[:, 1]
    frequency_list = np.array([np.sum(second_list == key) for key in first_list])
    return np.sum(first_list * frequency_list)

backend.test(day_1_part_2, test_input, 31)

Answer: 31            0.000191 seconds
Test succeeded.

In [77]:
backend.run(day_1_part_2, real_input, 1, 2)

Answer for day 1 part 2: 24869388            0.012738 seconds

24869388

Day 1 was quite doable, as ever with AOC. Let's see what day 2 brings us!

# Statistics AOC 2024

In [78]:
backend.neat_results()

   Day  Part    Result      Time
0    1     1   1110981  0.000189
1    1     2  24869388  0.012738